{% extends 'base.html'%} {% block content %} {% if error %}
{{ error }}
<br />
<br />
{% endif %}

<h2 class="mt-5">Create</h2>

<form method="POST" action="">
  {% csrf_token %}
  <br />
  Post:
  <br />
  <textarea
    id="tweet"
    class="form-control col-4"
    cols="10"
    rows="5"
    name="tweet_text"
    maxlength="140"
    >{{ tweet.tweet_text }}</textarea
  >
  <br />
  <br />
  <input
    class="btn btn-primary"
    type="submit"
    value="{% if edit != 1 %}Add Post{% else %}Save{% endif %}"
  />
</form>

{% endblock%} {% block js %}
<script>
  // $("#tweet").bind("keyup", function(e) {
  //   text = $(this).val();
  //   url = text.match(/(http|https)(.*).(png|jpg|jpeg|PNG|JPG)/g);

  //   if (url.length > 0) {
  //     if (text.indexOf("<img") !== -1) {
  //     } else {
  //       img = "<img width='50%' src='" + url[0] + "'>";
  //       $(this).val(img + "\n" + text);
  //     }
  //   }
  // });
</script>

{% endblock %}